extends layout/_layout.pug

include component/_home_banner-nav.pug
include component/_home_aboutus.pug
include component/_home_quote.pug
include component/_home_news.pug
include component/_home_product_poli_wrap.pug
include component/_home_flash-sale.pug
include component/_home_m_banner.pug
include component/_home_product-category.pug
include component/_home_banner3.pug
include component/_home_category-featured.pug
include component/_home_video.pug
include component/_home_product_list.pug
include component/_home_partner.pug

include component/_product_detail.pug

block vars
    - var bodyClass = 'home'
    - var page = 'index'
block body 
    +home_banner-nav()
    +home_aboutus()
    +home_quote()
    +home_news()
    +home_product_poli_wrap()
    +home_flash-sale()
    +home_m_banner()
    +home_product-category()
    +home_product-category2()
    +home_banner3()
    +home_product-category3()
    +home_m_banner2()
    +home_category-featured()
    +home_category-featured8()
    +home_category-featured6()
    +home_category-featured6_2()
    +home_product-category4()
    +home_video()
    +home_product_list()
    +home_partner()
    section(class="py-36 bg-white")
        mixin item-gellary(clName, text)
            div(class="xl:mt-32 mt-24")
                //- p= text
                .slider.slider-gallery(class=`${clName}`)
                    each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,13,15,16,17,18,19,20]
                        div 
                            a(href=`${item === 1 ? "https://we1.io.vn/admin/public/images/service/1744444200201-Ban-giam-doc.jpg":"https://file.hstatic.net/200000865177/file/banner_product_1_1_7c6e3429f65c4ba3be014ded4b6ecefc.jpg"}`).item-gallery-thumb.bg-light.p-8px.rounded-8.border.border-primary.border-1 
                                .imgDrop.ratio-4-3.rounded-4  
                                    if(item === 1) 
                                        img(src="https://we1.io.vn/admin/public/images/service/1744444200201-Ban-giam-doc.jpg", alt="")
                                    else 
                                        img(src="https://file.hstatic.net/200000865177/file/banner_product_1_1_7c6e3429f65c4ba3be014ded4b6ecefc.jpg", alt="")
                                .content.mt-8px.text-center
                                    .text-14.uppercase Máy A50
                                    .text-14  khách lắp tại Sông Lô - Việt Trì
        .container 
            h2.title_section  HÌNH ẢNH LẮP ĐẶT THỰC TẾ
            .row.justify-center(class="xl:mt-32 mt-24") 
                .col-12.col-lg-9 
                    .text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                        | galley of type and scrambled it to make a type specimen book.
            +item-gellary('slider-gallery-row2','Rows 2')
            +item-gellary('slider-gallery-column6','Rows 1 - Column 6')
            +item-gellary('slider-gallery-column8','Rows 1 - Column 8')
            +item-gellary('slider-gallery-column4','Rows 1 - Column 4')
            .view_more.text-center.mt-24.position-relative
                a.rounded-pill.py-2.px-4.btn-outline-primary(href='gallery-detail.html' title='Xem thêm') Xem thêm

    
    
   
    
    .mt-24 ------------ MAI DETAIL ----------
    
    +product_detail()


block js 
    //- script(src='js/js-banner.js')
    //- script(src='js/countUp.js')
    script.
        $(document).ready(function(){
            numSlick = 0;
            galleryImages(".slider-gallery-row2", 6, 5, 2);
            galleryImages(".slider-gallery-column6", 6, 5, 1);
            galleryImages(".slider-gallery-column8", 8, 5, 1);
            galleryImages(".slider-gallery-column4", 4, 4, 1);
            function galleryImages($sliderName, $toshow, $toshow_1024, $rows) {
                $($sliderName).each( function() {
                    numSlick++;
                    $(this).addClass( 'slider-' + numSlick ).slick({
                        slidesToShow: $toshow,
                        rows: $rows,
                        slidesToScroll: 1,
                        arrow: true,
                        autoplay: true,
                        pauseOnHover: true,
                        //- rtl: true,
                        responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                            slidesToShow: $toshow_1024,
                            }
                        },{
                            breakpoint: 991,
                            settings: {
                            slidesToShow: 4,
                            }
                        },{
                            breakpoint: 768,
                            settings: {
                            slidesToShow: 3,
                            }
                        },{
                            breakpoint: 576,
                            settings: {
                            slidesToShow: 2,
                            }
                        }
                        ]
                    });
                    $(this).addClass( 'slider-' + numSlick ).slickLightbox({
                        itemSelector: 'a',
                        //- src: 'img', // lấy ảnh từ <img>
                        captions: true,
                        caption: function (el) {
                            return $(el).find('.content').html() || '';
                        },
                        captionPosition: 'bottom'
                    });
                });
            };
            
        });
        