extends layout/_layout.pug
include component/_home_banner-nav.pug
include component/_home_aboutus.pug
include component/_home_quote.pug
include component/_home_news.pug
include component/_home_product_poli_wrap.pug
include component/_home_flash-sale.pug
include component/_home_m_banner.pug
include component/_home_product-category.pug
include component/_home_banner3.pug
include component/_home_category-featured.pug
include component/_home_video.pug
include component/_home_product_list.pug

block vars
    - var bodyClass = 'home'
    - var page = 'index'
block body 
    +home_banner-nav()
    +home_aboutus()
    +home_quote()
    +home_news()
    +home_product_poli_wrap()
    +home_flash-sale()
    +home_m_banner()
    +home_product-category()
    +home_product-category2()
    +home_banner3()
    +home_product-category3()
    +home_m_banner2()
    +home_category-featured()
    +home_category-featured8()
    +home_category-featured6()
    +home_category-featured6_2()
    +home_product-category4()
    +home_video()
    +home_product_list()
    
    
    section.py-5
        .container
            .container.title_section.mb-4(style='margin-bottom: 0; color: #212529 !important; text-align: center;')
                p Một số đối tác tiêu biểu của chúng tôi
            .slide_banner-4
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341669/icon_vnr-246x90.png' alt width='150')
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341683/icon_vnpt-246x90.png' alt width='150')
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341641/icon_Aeon-246x90.png' alt width='150')
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341669/icon_vnr-246x90.png' alt width='150')
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341633/icon_vtb-246x90.png' alt width='150')
    
    .mt-24 ------------ MAI DETAIL ----------
    
    +product-detail()


block js 
    //- script(src='js/js-banner.js')
    //- script(src='js/countUp.js')
    script.
        
        