include _header.pug
include _footer.pug
//- include ../component/_social.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet', type='text/css')
        link(href='ajax/libs/font-awesome/6.4.2/css/all.min.css', rel='stylesheet', type='text/css')

        link(href='public/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='public/assets/css/slick.css', type='text/css')
        link(rel='stylesheet', href='public/assets/css/slick-lightbox.css')
        link(rel='stylesheet', href='public/assets/css/slick-theme.css', type='text/css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css')
        link(href='public/assets/style.css', rel='stylesheet', type='text/css')
        link(href='public/assets/style-2.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='public/css/dist/common.css')
        // home
        link(href='public/assets/home.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='public/css/dist/home.css')
        // product
        link(rel='stylesheet', href='public/css/product/base.css', type='text/css')
        link(rel='stylesheet', href='public/css/product/detail.css', type='text/css')
        link(rel='stylesheet', href='public/css/dist/product.css', type='text/css')
        
        //- link(rel="stylesheet" href="css/aos.css")
        //- link(rel="stylesheet", href="css/slick-theme.css")
        //- link(rel="stylesheet", href="css/slick.css")
        //- link(rel="stylesheet", href="css/slick-lightbox.css")
        //- link(rel="stylesheet", href="css/bootstrap.css")
        //- link(rel="stylesheet", href="css/tailwin-dist.css")
        //- link(rel="stylesheet", href="css/style.css")
    block vars
    body(class=`${bodyClass}`)
        +header(page)
        main 
            block body
        +footer()
        #formSearch.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    //- .modal-header
                        h1#exampleModalLabel.modal-title.fs-5 Modal title
                        button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                    .modal-body
                        form.flex(role='search')
                            .flex-grow-1
                                input.w-full.form-control.h-40.border.border-gray.px-16(type='search', placeholder='Nhập từ khóa', aria-label='Search' class='focus:outline-none focus:border-primary')
                            input.h-40.w-90.flex-shrink-0.bg-gray-c6(type="submit" value='Tìm kiếm')
                    //- .modal-footer
                        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes
        block modal

        script(src='public/assets/js/jquery.min.js')
        script(type='text/javascript', src='https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
        script(src='public/assets/js/bootstrap.bundle.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js')
        script(src='public/assets/js/slick.min.js')
        script(src='public/assets/js/slick-lightbox.js')
        
        //- <script src="ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        //- validate js
        script(src='public/assets/js/jquery.validate.min.js')
        script(src='public/assets/js/additional-methods.min.js')
        script(src='public/js/home.js')
        script(src='public/js/home-custom.js')
        script(src='public/js/contact.js')
        script(src='public/js/quote_and_promotion.js')
        script(src='public/js/custom.js')
        script(src='public/js/product_detail.js')
    //- script(src='js/aos.js')
    //- script(src="js/jquery-3.7.1.min.js")
    //- script(src="js/slick.min.js")
    //- script(src="js/slick.js")
    //- script(src="js/slick-lightbox.min.js")
    //- script(src="js/bootstrap.bundle.min.js")
    //- script(src="js/js.js")
    block js
    //- script(src="js/bootstrap.min.js")Save Typing