@import '../layout/root';
@import '../layout/minxin';

.item-gallery-thumb {
    cursor: pointer;
    transition: all .3s;
    display: block;
    &:hover {
        background-color: var(--primary)!important;
        color: #fff;
        .color-primary {color: #fff;}
    }
}
.slick-lightbox-slick-caption {
    display: block;
    .color-primary {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
    }
}