@import '../layout/root';
@import '../layout/minxin';

.item-gallery-thumb {
    cursor: pointer;
    transition: all .3s;
    display: block;
    &:hover {
        background-color: var(--primary);
        color: #fff;
        .color-primary {color: #fff;}
    }
}