body {
    background-color: #f3f5f7;
}
ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.sidebar {
    margin-bottom: 0;
}
.item_frame_background {
    background-color: #ffffff;
    border-radius: 6px;
}
.background-sidebar,
.background-content {
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, .1) 0px 2px 8px 0px;
    border-radius: 6px;
    margin-bottom: 12px;
    padding: 12px;
}

.background-content {
    padding: 12px 0;
}

.title-sidebar {
    font-weight: 700;
    border-bottom: 3px solid;
    border-color: var(--background-color-main);
    color: var(--background-color-main);
    padding: 0 0 4px 0;
    text-transform: uppercase;
}

.social .social-content ul li {
    list-style-type: none;
    margin: 0 3px;
}

.social .social-content ul li i {
    font-size: 38px;
    padding: 3px;
}

.product_list_sidebar {
    margin-top: 12px;
}
.product_list_sidebar .product {
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: unset;
}
.product_list_sidebar .product:last-child {
    margin-bottom: 0;
}
.product_list_sidebar .product:hover {
    border-color: var(--background-color-main);
}
.product_list_sidebar .product .image {
    padding-right: 10px;
}
.product_list_sidebar .product .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 15px;
}
.product_list_sidebar .product .price {
    color: red;
    font-weight: 600;
}

/* content */
.breadcrumb {
    margin: 0;
    border: 0;
    padding: 0;
}
.breadcrumb-item:last-child {
    color: #0000FF;
}

.brand-list .prev-btn, .brand-list .next-btn {
    border: none;
    box-shadow: 1px 1px 6px #898989;
    background-color: #ffffff;
    border-radius: 2px;
}

.commitment-list {
    margin-bottom: 12px;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.3)
}
.contact-content .icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 4px solid var(--background-color-main);
    border-radius: 50%;
    color: var(--background-color-main);
}
.contact-content .phone-content, .contact-content .email-content, .contact-content .address-content, .contact-content .home-content {
    flex: 1;
    margin-left: 20px;
}
.blog_list.contact .content p {
    margin-bottom: 6px;
}
.blog_list.contact {
    background-position: center center;
    background-repeat: no-repeat;
}
#btn-submit {
    font-size: 1rem;
    transition: font-size 0.3s ease;
}

#btn-submit:hover {
    font-size: 1.1rem;
}

.read-more-btn {
    display: none;
}
.expanded .read-more-btn.hide {
    display: block;
    position: relative;
    padding: 0;
}
.expanded .read-more-btn.more {
    display: none !important;
}
.expanded .description-content,
.expanded .list-group-product,
#myTabContent .expanded.tab-pane .content {
    max-height: none;
}

.read-more-btn {
    text-align: center;
    cursor: pointer;
    color: blue;
    position: absolute;
    left: 0;
    top: calc(100% - 34px);
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    opacity: 0.85;
}

.commitment-list .commitment {
    margin-bottom: 12px;
}
.commitment-list .commitment:last-child {
    margin-bottom: 0;
}

/* content */
.content-item {
    padding: 0 12px;
}
.breadcrumb-item:last-child a {
    color: #0000FF !important;
    font-weight: 700 !important;
}
.slide .image {
    width: 100%;
    object-fit: cover;
}
.slide .preview .image {
    width: auto;
    /*max-width: 100%;*/
}
@media (max-width: 767px) {
    .slide .preview .image {
        max-width: 100%;
    }
}
.preview-slide .swiper-button-prev,
.preview-slide .swiper-button-next {
    display: none;
    padding: 9px;
    width: unset;
    height: unset;
}
.preview-slide.preview .swiper-button-prev,
.preview-slide.preview .swiper-button-next {
    display: block;
}
@media (min-width:768px) {
    .preview-slide.preview .swiper-button-next {
        right: 100px;
    }
    .preview-slide.preview .swiper-button-prev{
        left: 100px;
    }
}
.preview-slide {
    position: relative;
}
.swiper-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.preview-slide.preview {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100vh;
    display: flex;
    align-items: center;
}
.preview-slide.preview .swiper-wrapper {
    align-items: center;
}
.preview-slide.preview .overlay {
    display: block;
    z-index: 1;
    background-color: rgb(0 0 0 / 71%);
}
.preview-slide.preview .main-slider {
    max-width: 60%;
    margin: auto;
}
.preview-slide.preview .swiper-slide-main {
    max-height: 80vh;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    cursor: pointer;
}
.swiper-slide-main {
    overflow: hidden;
}
.swiper-container-thumbs {
    width: 100%;
    margin: auto;
    padding: 12px;
}
.swiper-slide-thumb {
    width: auto;
    opacity: 0.4;
    overflow: hidden;
}
.swiper-container-thumbs .swiper-slide-active {
    opacity: 1;
    border: 2px solid var(--background-color-main);
}
.single_product .info {
    width: 100%;
    max-width: unset;
}

.frm_cart .buy_now {
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    padding: 8px;
}
button.btn.btn-primary.add_to_cart {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    font-weight: 600;
}

.single_product .info .info-title {
    font-weight: 700;
    color: #000000;
    margin-right: 12px;
}
#myTabContent .content {
    padding-top: 12px;
    max-height: 500px;
    overflow: hidden;
}
.single_product .info hr {
    margin: 8px 0;
    border: 1px inset;
}
.single_product .info .price {
    font-size: 20px;
    font-weight: 600;
}
.single_product .info .price-title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    color: #000000;
}
.single_product .info .info-detail p {
    margin-left: 0;
    margin-top: 0;
    font-size: 16px;
}
.single_product .info .price .regular {
    font-size: 20px;
    color: #c8c8c8;
    font-weight: 600;
}
.btn-add-cart,
.btn-hotline {
    padding-left: 6px;
}
.btn-buy-now,
.btn-send-consult {
    padding-right: 6px;
}
.single_product .info .btn-single-hotline {
    width: 100%;
}
.star ul li {
    list-style-type: none;
}
.star i {
    cursor: pointer;
    font-size: 36px;
    margin-right: 12px;
    color: #f69329;
}

.list-review .review .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
}
.list-review .review .avatar .image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.list-review .review .star i{
    font-size: 20px;
    margin-right: 12px;
    color: #f69329;
}
.list-review .review .review-image .image {
    width: 80px;
    max-height: 46px;
    margin-right: 12px;
    border-radius: 2px;
}
.row.product_list {
    margin-top: 12px;
    padding: 0 6px;
}
.row.product_list > * {
    padding: 0 6px;
}
.row.product_list .product .inner {
    margin-bottom: 12px;
    background-color: unset;
    box-shadow: unset;
    border-radius: 6px;
}
.up-image .image-preview {
    width: 60px;
    margin-right: 10px;
}
.up-image .image-preview img {
    width: 100%;
    border-radius: 2px;
    max-height: 44px;
}
.up-image .up-image-file {
    background-color: #ccc;
    color: white;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}
#content img {
    max-width: 100%;
    height: auto;
}
.product-box .product-box-body ul li {
    font-size: 15px;
}

main {
    overflow: inherit;
}
#id_load_light {display: none;}
.fe-footer {
    background-color: #fff;
}
.background-sidebar,
.background-content {
    margin-bottom: 0;
    &+.background-sidebar,
    &+.background-content {
        margin-top: 12px;
    }
}
.sidebar {
    display: flex!important;
    flex-direction: column;
    .background-sidebar {
        flex-shrink: 0;
        &:last-child {
            // flex-grow: 1;
        }
    }
}
.btn_group .col-6 {
    margin: 5px auto;
}
.btn-buy-now, .btn-send-consult {
    padding-right: 6px;
}
.slick-arrow {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    &:before {
        font: normal normal normal 20px / 1 FontAwesome;
        display: block;
        color: #000!important;
    }
    &.slick-next {
        right: 0;
        &:before {
            content: "\f105";
        }
    }
    &.slick-prev {
        left: 0;
        &:before {
            content: "\f104";
        }
    }
}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.preview-slide {
    padding: 4px;
}
.main-slider {
    border: 1px solid #eee;
}
.swiper-container-thumbs {
    padding: 0;
    margin-top: 8px;
}
.swiper-slide-thumb {
    padding: 0 4px;
    transition: all .3s;
    img {
        border:1px solid #eee;
    }
    &.slick-current {
        opacity: 1;
    }
}
ul {
    list-style: none;
    margin: 0;
}
.color {
    &-primary {
       color: var(--mainColor);
    }
}
.single_product {
    .product {
        &-info {
            margin-top: 24px;
            color: #333;
            // border-top: 1px solid #ddd;
            &-head {
                padding: 12px 0 8px;
                border-bottom: 1px solid var(--mainColor);
                
            }
            &-ttl {
                font-weight: bold;
                font-size: 15px;
                text-transform: uppercase;
                color: var(--mainColor);
                margin-bottom: 8px;
            }
            &-content {
                font-size: 14px;
                &>ul {
                    display: flex;
                    flex-wrap: wrap;
                    &>li {
                        width: 50%;
                    }
                }
            }
        }
        &-title {
            color: var(--mainColor);
            font-size: 24px;
            font-weight: bold;
        }
        &-sub {
            font-style: italic;
            font-weight: 500;
            color: #888;
            margin-top: 4px;
            font-size: 14px;
        }
        
        &-price {
            margin-top: 32px;
            display: flex;
            flex-wrap: wrap;
            border: 1px solid var(--mainColor);
            border-radius: 8px;
            color: #333;
            padding: 12px;
            .column {
                text-align: center;
                width: 100%;
                @media (min-width:768px) {
                    width: 50%;
                    &:first-child {
                        border-right: 1px solid var(--mainColor);
                    }
                }
                @media (max-width:767px) {
                    &:first-child {
                        padding-bottom: 12px;
                        margin-bottom: 12px;
                        border-bottom: 1px solid var(--mainColor);
                    }
                }
            }
            .price-total,
            .timeline {
                font-size: 20px;
                font-weight: bold;
                color: red;
                padding: 4px 0;
            }
            .price-total {color: red;}
            .timeline {color:var(--mainColor)}
            .text-sub {
                font-size: 14px;
                font-style: italic;
                color: #888;
            }
        }
    }
     .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-area: 8px;
       & ::after {
        display: block;
        margin-left: auto;
        width: 6px;
    }
     }
}
.info-item {
    &-row {
        display: flex;
        gap: 16px;
        margin-top: 12px;
        border-top: 1px solid #eee;
        padding-top: 12px;
        @media (max-width:767px) {
            flex-direction: column;
            gap: 4px;
        }
    }
    &-dt {
        flex-shrink: 0;
        width: 90px;
        font-weight: bold;
        color: #555;
        margin-top: 4px;
        @media (max-width:767px) {
            margin-top: 0;
            width: 100%;
            font-size: 16px;
        }
    }
    &-dd {
        flex-grow: 1;
        .dropdown-menu {
            width: 100%;
        }
    }
}
.select-option {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #eaeaea;
    color: #555;
    width: 100%;
    display: block;
    @media (max-width:767px) {
       padding: 8px 12px;
    }
}
.list-option {
    display: flex;
    flex-wrap: wrap;
    gap:  8px;
    span {
        display: block;
        padding: 4px 12px;
        font-size: 14px;
        background-color: #eaeaea;
        border-radius: 4px;
        color: #555;
        cursor: pointer;
        transition: all .3s;
        @media (max-width:767px) {
            padding: 8px 12px;
        }
        &:hover {
            background-color: #ddd;
        }
        &.active {
            color: #fff;
            background-color: var(--mainColor);
        }
    }
}
.btn-main {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    transition: all .3s;
    display: inline-flex!important;
    gap:8px;
    align-items: center;
    justify-content: center;
     &:hover {
        opacity: 0.8;
    }
    i {
        font-size: 20px;
    }
}
.btn-primary,
.btn-primary:hover {
    background-color: var(--mainColor)!important;
    color: #fff;
   
}
.btn-orange,
.btn-orange:hover {
    background-color: rgb(239, 133, 40);
    color: #fff;
}
.btn-gray,
.btn-gray:hover {
    background-color: #ddd;
    color: #333;
}
.block-buttons {
    margin-top: 16px;
    font-size: 13px;
    button {
        display: block;
        width: 100%;
        height: 52px;
        line-height: 52px;
        i {font-size: 16px;}
    }
}
.table-striped {
    font-size: 14px;
    .table-tr {
        @media (max-width:767px) {
            flex-direction: column;
            padding: 8px;
            background-color: #eee;
            td {
                border: none;
                padding: 0;
                box-shadow: none;
                background-color: transparent!important;
            }
        }
    }
}
.product_list_sidebar {
    .row {
        gap: 12px 0;
    }
}

.single_product .info p {
  margin-left: 0;
}
.product_list_sidebar .product {height: 100%;}