
.social-fix {
    position: fixed;
    bottom: 32px;
    right: 8px;
    z-index: 99;
}
.scrolltop {
    cursor: pointer;
}
footer {
    position: relative;
    .column {
        &-1, &-3 {
            flex-shrink: 0;
        }
        &-2 {
            flex-grow: 1;
        }
        &-1 {
            width: 150px;
            @include min_md {
                width: calc(272/1728*100vw);
            }
        }
        &-3 {
            width: 100%;
            @include min_md {
                width: calc(220/1728*100vw);
            }
        }
    }
}
.coppyright {
    @include max_lg {
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
        text-align: center;
    }
}
.social-list {
    li {
        a {
            flex-shrink: 0;
            display: block;
            
            img {
                width: auto;
                height: 32px;
                @include min_lg {
                    height: 42px;
                }
                @include min_xl {
                    height: 60px;
                }
                @include min_2xl {
                    height: calc(60/1728*100vw);
                }
            }
        }
    }
}
.list-link {
    li {
        width: 100%;
        max-width: 140px;
        @include min_lg {
            max-width: 168px;
        }
        @include min_xl {
            max-width: 188px;
        }
        @include min_2xl {
            max-width: calc(188/1728*100vw);
        }
    }
    a {
        &:hover {
            background-color: rgba(255,255,255,.1);
        }
    }
    .icon {
        width: 24px;
        flex-shrink: 0;
        @include min_md {
            width: 28px;
        }
        @include min_lg {
            width: 42px;
        }
        @include min_xl {
            width: 55px;
        }
        @include min_2xl {
            width: calc(55/1728*100vw);
        }
    }
}