header {
    // z-index: 999999;
    background-color: var(--bg-header);
    color: var(--color-header);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .container {
        position: relative;
        flex-wrap: wrap!important;
    }
    .logo-brand {
        display: block;
        width: 150px;
        @include min_md {
            width: 220px;
        }
        @include min_xl {
            max-width: 272px;
        }
        @include min_2xl {
            max-width: calc(272/1728*100vw);
        }
    }
    .offcanvas-body {
        padding: 0;
        align-items: center;
    }
    .btn-close {
        width: 40px;
        height: 40px;
        position: relative;
        &:before,
        &:after {
            position: absolute;
            content: "";
            height: 2px;
            width: 24px;
            background-color: #fff;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            border-radius: 2px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    .navbar {
        padding: 0;
        &-nav {
            .nav-item {
                .nav-link {
                    padding: 0 16px 2px;
                    transition: all .3s;
                    color: var(--color-header);
                    @include max_md {
                        padding: 8px 16px;
                    }
                    &:hover,
                    &.active {
                        color: var(--second);
                    }
                }
                &+.nav-item {
                    .nav-link {
                        @include min_md {border-left: 1px solid #fff;}
                    }
                }
            }
        }
        &-btn {
            border: none;
            outline: none;
            height: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include min_lg {display: none;}
            &:focus {
                outline: none;
                border: none;
            }
            span {
                display: block;
                width: 28px;
                height: 3px;
                background-color: var(--color-toggler);
                border-radius: 2px;
                border: none;
                background-image: none;
                position: relative;
                &:before,
                &:after {
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    margin: auto;
                    content:"";
                    background-color: var(--color-toggler);
                    border-radius: 2px;
                }
                &:before {
                    top: -8px;
                }
                &:after {
                    bottom: -8px;
                }
            }
        }
    }
    .language {
        cursor: pointer;
        .language-btn {
            padding: 4px 16px;
            border: 1px dashed #fff;
            height: 40px;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            width: 80px;
            border-radius: 6px;
            background-color: rgba(255,255,255,.05);
            &:after {
                content: "";
                display: block;
                width: 20px;
                background-size: 12px;
                height: 12px;
                background-image: url(../images/icon/arr-down.svg);
                background-repeat: no-repeat;
                background-position: center left;
            }
        }
        .dropdown-menu {
            position: absolute;
            background-color: #0d4d74;
            border: 1px solid rgba(255,255,255,.3);
            right: 0;
            a {
                color: #fff;
                &:hover {
                    background-color: rgba(0,0,0,.1);
                }
            }
        }
        &:hover {
            .language-btn {
                background-color: rgba(255,255,255,.1);
            }
        }
    }
}
.list-category {
    gap:0  clamp(10px,32px, 50px);
    @include max_md {
        gap: 8px 0;
    }
    li {
        @include max_md {
            width: 50%;
            padding: 0 8px;
        }
        a {
            border-radius: 4px;
            @include max_md {
                padding: 8px;
            }
            &:hover {
                background-color: rgba(255,255,255,.1);
            }
        }
    }
}
body {
    &:not(.home) header {
        .list-link {
            display: none;
        }
    }
    &.home header{
        background-color: #002F4D!important;;
        .container {
            flex-wrap: wrap;
        }
        .list-category {
            display: none;
        }
        .logo-block {
            @include min_lg {
                
                width: 100%;
                order: -2;
                margin-bottom: 30px;
            }
        }
        .list-link {
           @include min_lg { order: -1;}
           @include max_lg {
                padding: 16px;
                flex-direction: column;
                gap:12px 0;
                li {
                    max-width: 100%;
                }
           }
        }
    }
}