mixin form-info(clname)
    .bg-primary.border.border-solid.border-white.pt-24.pb-24.px-16(class=`${clname} lg:px-40 lg:pb-40`)
        form.form-info
            .text-sub.text-20.text-center Оставьте заявку — мы свяжемся с вами и подберем оптимальное решение.
            .row.mt-24.items-end.gap-y-16 
                .col-12.col-md-4 
                    .form-field
                        .wrap 
                            label.label(for="") Имя *
                            input.input(type="text" placeholder="Введите имя")
                .col-12.col-md-4 
                    .form-field
                        .wrap 
                            label.label(for="") Телефон *
                            input.input(type="text" placeholder="+ 38 (0 __ ) ___ - __ - __")
                .col-12.col-md-4 
                    .form-field
                        .wrap 
                            button.btn-submit(type="submit" class="hover:drop-shadow-2xl") Оставьте заявку