mixin group-feedback(style2)
    .group(class="xl:mt-70 mt-48")
        .container 
            +heading-sec('Отзывы наших клиентов', style2)
            .slider.slider-feedback.mt-24.bg-white
                each item in [1,2,3,4,5,6,7,8]
                    div
                        .item.pt-40.pl-16.pb-32(class="xl:pr-40 pr-16 xl:pt-60")
                            .content.pt-8.pr-20.pb-8.pl-8.bg-primary.text-white
                                .team-ttl.px-8.py-4.bg-blue Инна
                                .team-name.text-14.font-bold Мама студентки University College London
                            .des.mt-20 
                                p #{item} Мы хотели, чтобы наша дочь училась в одном из топ 10 университетов мира. 
                                |Совершенно случайно попали к Юлии и поняли, что человек знает о чем говорит. 
                                ||Уже тогда мы поняли, что заниматься этим вопросом в 11 классе – это поздно. 
                                p Первым этапом для нас стало поступление в среднюю школу Англии на A-Level. 
                                |Требования высокие, английский не дотягивал, но план подготовки, 
                                |который нам посоветовала Юля летом, сработал. Репетиторы, 
                                | месяц в Англии на зимние каникулы, переговоры со школам об отсрочках тестов и…она 
                                | поступила в лучшую школу Великобритании по рейтингам поступления в ВУЗы – 
                                | Cardiff Sixth Form College. 
                                |На протяжении всех двух лет учебы Юля была на связи, помогала с оплатами, 
                                |отвечала на вопросы и стала настоящим другом семьи. Спасибо за это.П.С. 
                                |дочь поступила в University College London - #7 в мире!