mixin group-blog(style2)
    .group(class="xl:mt-70 mt-48")
        .container 
            +heading-sec('Новости', style2)     
            .slider.mt-24.slider-blog.arr-outsite.slider-space-20
                -
                    var arr = [
                        {ttl:'Где получить образование архитектора в Великобритании: Список университетов для международных студентов', des:'Образование архитектора в Великобритании признано во всем мире благодаря высокому уровню преподавания и широкому спектру программ. Для международных студентов, мечтающих о карьере в архитектуре, выбор подходящего университета является ключевым шагом на пути к успеху.'},
                        {ttl:'Изменение стоимости консульских сборов при подаче на Visitor visa в Британию', des:'Также сообщаем что сбор за ускоренное рассмотрение заявки посольством (до 5 рабочих дней после сдачи биометрии) составляет 599.97 евро. Ранее эта услуга стоила 306 евро.'},
                        {ttl:'Как упростить получение визы в США в Румынии?', des:'Путешествия в США всегда ассоциируются с приключениями и новыми открытиями. Но прежде чем отправиться в путь, нужно заранее позаботиться о визе. Граждане Румынии так же как и Украины должны получить визу соответствующую цели посещения США.'},
                        {ttl:'Где получить образование архитектора в Великобритании: Список университетов для международных студентов', des:'Образование архитектора в Великобритании признано во всем мире благодаря высокому уровню преподавания и широкому спектру программ. Для международных студентов, мечтающих о карьере в архитектуре, выбор подходящего университета является ключевым шагом на пути к профессиональному успеху.'},
                        
                    ]
                each item,key in arr 
                    div 
                        a(href="blog-detail.html").item.item-blog.bg-white.pb-24(class="hover:drop-shadow-lg")
                            .images.imgDrop.has-backdrop 
                                img(src=`images/blog${key+1}.jpg`, alt="")
                            .content-inner.bg-primary.text-white.p-16
                                .time.text-12 03.06.25
                                h4.text-20.font-bold= item.ttl
                            .des.p-16= item.des
                            .px-16
                                .btn-more Подробнее ...
            a.button-primary.button.mt-16(href="blog.html") Все новости