mixin heading-sec(ttl, style2)
    .sec-heading.flex.items-center.gap-x-12(class=`${style2 === true ? 'style2':''}`) 
        ul.list-flag.flex.gap-x-4(class="md:gap-x-8")
            if(style2 === true)
                each item in ['cnd','m','usa']
                    li(class='xxl:w-70 xl:w-48 lg:40 w-24')
                        img.w-full(src=`images/flg_${item}.png`, alt="")
            else 
                each item in ['1','2','3']
                    li.rounded-16.overflow-hidden(class='xxl:w-70 xl:w-48 lg:40 w-24')
                        img.w-full(src=`images/icon-flag${item}.png`, alt="")
        h2.text-24.font-bold= ttl